html {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 18px;
    font-family: serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    color:#aaaaaa;
    font-size: calc(14px + 8 * (100vw / 1280));
}

.lk.show {
    display: block;
}

.lk {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 3.1rem 1.3rem 4rem;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 2.1rem 1.3rem 4rem;
}

.formWrapper h2 {
    margin-bottom: 2.5rem;
    font-size: calc(24px + 8 * (100vw / 1280));
    line-height: 1.7rem;
    text-transform: capitalize;
    color: #929292;
    text-align: center;
}

form {
    width: 90%;
}

form .inputBox + .inputBox {
    margin-top: 2.5rem;
}

form .inputBox {
    position: relative;
}

form .inputBox img {
    position: absolute;
    top: 50%;
    right: 2px;
    cursor: pointer;
    width: calc(16px + 8 * (100vw / 1280));
}

form input {
    display: block;
    width: 100%;
    position: relative;
    border: none;
    border-bottom: 2px solid #ebebeb;
    padding: 1.3rem 1.9rem 0.6rem 0;
    font-size: calc(14px + 8 * (100vw / 1280));
    color: #bbbbbb;
    outline: none;
}
 
form input[name="pass"] {
    color: #000;
}

form input::-webkit-input-placeholder {position: absolute; top: 0px; left: 0; color: #f85f6a; font-size: calc(14px + 8 * (100vw / 1280)); line-height: 2rem; font-weight: 700; font-family: serif; }
form input::-moz-placeholder          {position: absolute; top: 0px; left: 0; color: #f85f6a; font-size: calc(14px + 8 * (100vw / 1280)); line-height: 2rem; font-weight: 700; font-family: serif; }
form input:-moz-placeholder           {position: absolute; top: 0px; left: 0; color: #f85f6a; font-size: calc(14px + 8 * (100vw / 1280)); line-height: 2rem; font-weight: 700; font-family: serif; }
form input:-ms-input-placeholder      {color: #f85f6a; font-size: 1rem; line-height: 1.1rem; font-weight: 700; font-family: serif; }

form input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
form input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
form input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
form input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

form .inputBtn {
    margin-top: 2.5rem;
    background-color: #f85f6a;
    color: #fff;
    font-weight: 700;
    font-family: serif;
    border: none;
    padding: 0.94rem 0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(248,95,106,0.5);
    transition: all .3s;
}

form .inputBtn:hover {
    background-color: #a85f6a;
    box-shadow: 3px 3px 3px rgba(148,95,106,0.5);
}

form .linkWrapper {
    text-align: center;
    margin-top: 3rem;
}

form#regForm .linkWrapper:last-child {
    margin-top: 1rem;
}

form .linkWrapper a {
    display: inline-block;
    padding: 1rem;
}

form a:hover {
    text-decoration: underline;
}

form .register {
    color: #f85f6a;
    font-weight: 700;
}

form .condition {
    display: flex;
}


form label a {
    display: inline;
    color: #f85f6a;
    font-weight: 700;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox + label {
    position: relative;
    vertical-align: middle;
    padding: 0 0 0 30px;
    cursor: pointer;
}

/* Чекбокс в состоянии неактивен */
.checkbox + label:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    
}

/* Чекбокс в состоянии активен */
.checkbox + label:after {
    content: '';
    position: absolute;
}

/* Фон чекбокса в состоянии активен */
.checkbox:checked + label:after {
    position: absolute;
    top: -1px;
    left: 0px;
    background: #f85f6a;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-image: url("../icons/сhecked.svg");
    transition: all .5s;
}

.entry {
    color: #f85f6a;
    font-weight: 700;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    width: 50%;
}

.profileName {
    margin-top: 1rem;
    font-size: calc(16px + 8 * (100vw / 1280));
    color: #000;
    font-weight: 700;
}

.profileName span + span {
    margin-left: 5px;
}

.profileEmail {
    margin-top: 0.3rem;
    letter-spacing: 0.04rem;
}

.profileProfession {
    margin-top: 1rem;
}

.menuList {
    font-size: calc(20px + 8 * (100vw / 1280));
    line-height: 1.7rem;
    color: #000;
    font-weight: 700;
}

.menuList li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.menuList li + li {
    margin-top: 2rem;
}

.menuList li p {
    flex-grow: 1;
    margin-left: 2rem;
    margin-right: 5rem;
}

.menuList li svg path{
    transition: all .3s;
}

.menuList li:hover svg path{
    fill: #f85f6a;
}

.settingsBox {
    display: flex;
}

.settingsLink {
    font-size: calc(20px + 8 * (100vw / 1280));
    line-height: 1.3rem;
    margin-left: 1rem;
    padding: 1rem;
}

.settingsBox {
    transition: all .3s;
}

.settingsBox:hover {
    color: #f85f6a;
}

.settingsBox svg path {
    transition: all .4s;
}

.settingsBox:hover svg path {
    fill: #f85f6a;
}

@media (min-width: 1280px) {
    form {
        width: 30%;
    }
    .formWrapper {
        justify-content: center;
    }
    .container {
        justify-content: center;
    }
    .menuList,
    .settingsBox {
        margin-top: 3rem;
    }
    .profileEmail {
        margin-top: 0.6rem;
    }
}